.server_button{
    background-color: green;
    border-radius: 20px;
    margin-bottom: 5;
   
}
.client_button{
    background-color: rgb(31, 71, 232);
    border-radius: 20px;
    margin-top: 5;
    
}
.main{
    background-color:white;
    
}
.label_start{
    color: #004ADB;
    font-style: bold;
    
}
.label_select{
    color: #004ADB;
    font-style: bold;
    margin-bottom: 50;
    
}
.label_cont{
    color: black;
    margin-bottom: 25;



}
.combo_cont{
    margin-bottom: 50;
    padding-left: 10;
    border-radius: 5px;
    background-color: white;
    color:rgba(0, 74, 219, 1);
    background-color: white;
    border: 1px solid #004ADB;
    
    
}

.get_started{
    background-color:#004ADB;
    border-radius: 9px;
    margin-left: 60;
    
    
}
/* .line_edit{
    border-color:#004ADB;
    border-radius: 9px;
    
    
} */
.continued{
    background-color:#004ADB;
    border-radius: 9px;
    
    
    
}

