.server_button{
    background-color: green;
    border-radius: 20px;
    margin-bottom: 5;
   
}
.server_input{
    margin-bottom: 0;
    margin-top: 0;
    background-color:white;
    color: rgb(123, 156, 222);
    
}
.client_button{
    background-color: rgb(31, 71, 232);
    border-radius: 20px;
    margin-top: 5;
    
}
.main{
    background-color:white;
    
}
.label_start{
    color: #004ADB;
    font-style: bold;
    
}
.label_select{
    color: #004ADB;
    font-style: bold;
    margin-bottom: 50;
    
}
.label_fill{
    color: #004ADB;
    font-style: bold;
    margin-bottom: 10;
    
}
.label_cont{
    color: black;
    margin-bottom: 25;



}
.label_cons{
    color: rgba(48, 50, 55, 0.805);
    margin: 0;



}
.combo_cont{
    margin-bottom: 50;
    padding-left: 10;
    border-radius: 5px;
    background-color: white;
    color:rgba(0, 74, 219, 1);
    background-color: white;
    border: 1px solid #004ADB;
    
    
}
.combo_tins{
    margin-bottom: 0;
    padding-left: 10;
    border-radius: 5px;
    background-color: white;
    color:rgb(123, 156, 222);
    background-color: white;
    border: 1px solid rgb(123, 156, 222);
    
    
}

.get_started{
    background-color:#004ADB;
    border-radius: 9px;
    margin-left: 60;
    
    
}

.continued{
  
    background-color:#004ADB;
    border-radius: 9px;
   
      
}
.cancel{
   
    border:2px solid #004ADB;
    background-color:white;
    border-radius: 9px;
    color: #004ADB;
  
    
      
}

